<!doctype <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kalender</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <nav id='menu'>
      <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
      <ul>
        <li><a href='/'>Kalender</a></li>
        <li><a href='/profile'>Profil</a></li>
        <li><a href='/logout'>Log ud</a></li>
      </ul>
    </nav>
    <div id="text-and-input">
    <p>Welcome {{ session['username'] }}</p><br>
    <form method="post" action="/">
      <label id="activity" for"activity">Aktivitet:</label><br>
      <input type="text" id="activity" name="activity" placeholder="">
      <br>
      <label id="time" for"time">Antal timer:</label><br>
      <input type="text" id="time" name="time" placeholder="">
      <br>
      <label id="day" for"day">Vælg dag:</label><br>
      <select id="option" name="day" size="1">
        <option name="day" value="Monday">Mandag</option>
        <option name="day" value="Tuesday">Tirsdag</option>
        <option name="day" value="Wednesday">Onsdag</option>
        <option name="day" value="Thursday">Torsdag</option>
        <option name="day" value="Friday">Fredag</option>
        <option name="day" value="Saturday">Lørdag</option>
        <option name="day" value="Sunday">Søndag</option>
      </select>
      <br>
      <label id="description" for"description">Beskrivelse:</label><br>
      <textarea id="description" name="description" rows="4" cols="50"></textarea>
      <br>
      <input id="submit_button" type="submit" value="Opret">
    </form>
    <form method="post" action="/save">
      <label id="save_button" for="save_button">Gem din kalender</label> <br>
      <input id="save_button" type="submit" value="Gem">
    </form>
    </div>
    <div class="calender">
    <!-- Mandag -->
    <div class="column">
    <table>
      <caption><h3>Mandag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Monday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    <!-- Tirsdag -->
    <div class="column">
    <table>
      <caption><h3>Tirsdag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Tuesday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    
    </table>
    </div>
    <!-- Onsdag -->
    <div class="column">
    <table>
      <caption><h3>Onsdag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Wednesday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    <!-- Torsdag -->
    <div class="column">
    <table>
      <caption><h3>Torsdag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Thursday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    <!-- Fredag -->
    <div class="column">
    <table>
      <caption><h3>Fredag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Friday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    <!-- Lørdag -->
    <div class="column">
    <table>
      <caption><h3>Lørdag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Saturday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    <!-- Søndag -->
    <div class="column">
    <table>
      <caption><h3>Søndag</h3></caption>
      {% for activity in activitys %}
        {% if activity.day == 'Sunday' %}
          <tr>
            <td>{{ activity.activity }} | Tid afsat: {{ activity.time }}t <br> Beskrivelse: {{ activity.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
    </div>
    <br>
    
    <script src="" async defer></script>
  </body>
</html>
