<!doctype <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <form method="post" action="/">
      <label id="activity" for"activity">Aktivitet:</label><br>
      <input type="text" id="activity" name="activity" placeholder="">
      <br>
      <label id="time" for"time">Antal timer:</label><br>
      <input type="text" id="time" name="time" placeholder="">
      <br>
      <label id="day" for"day">Vælg dag:</label><br>
      <select id="option" name="day" size="1">
        <option name="day" value="Monday">Mandag</option>
        <option name="day" value="Tuesday">Tirsdag</option>
        <option name="day" value="Wednesday">Onsdag</option>
        <option name="day" value="Thursday">Torsdag</option>
        <option name="day" value="Friday">Fredag</option>
        <option name="day" value="Saturday">Lørdag</option>
        <option name="day" value="Sunday">Søndag</option>
      </select>
      <br>
      <label id="description" for"description">Beskrivelse:</label><br>
      <textarea id="description" name="description" rows="4" cols="50"></textarea>
      <br>
      <input id="submit_button" type="submit" value="Opret">
    </form>
    <!-- Målmand -->
    <h3>Mandag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Monday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br />

    <!-- Forsvar -->
    <h3>Tirsdag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Tuesday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br />

    <!-- Midtbane -->
    <h3>Onsdag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Wednesday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br />

    <!-- Angriber -->
    <h3>Torsdag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Thursday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br>

    <h3>Fredag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Friday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br>

    <h3>Lørdag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Saturday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br>

    <h3>Søndag</h3>
    <table>
      <tr>
        <th>Aktivitet</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
      </tr>
      {% for activity in activitys %}
        {% if activity.day == 'Sunday' %}
          <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <br>
    <script src="" async defer></script>
  </body>
</html>
