<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Kalender</a></li>
        <li><a href='/profile'>Profil</a></li>
        <li><a href='/logout'>Log ud</a></li>
    </ul>
</nav>

<form method="post" action="profile">
    <label id="interests" for"interests">Top 3 interesser</label><br>
    <label id="primary_interest" for"primary_interest">Primær interesse</label><br>
      <select id="option1" name="primary_interest" size="1">
        <option name="primary_interest" value="Fodbold">Fodbold</option>
        <option name="primary_interest" value="Tennis">Tennis</option>
        <option name="primary_interest" value="Golf">Golf</option>
        <option name="primary_interest" value="Svømning">Svømning</option>
        <option name="primary_interest" value="Danse">Danse</option>
        <option name="primary_interest" value="Synge">Synge</option>
        <option name="primary_interest" value="Gaming">Gaming</option>
      </select>
    <br>
    <label id="secondary_interest" for"secondary_interest">Sekundær interesse</label><br>
      <select id="option2" name="secondary_interest" size="1">
        <option name="secondary_interest" value="Fodbold">Fodbold</option>
        <option name="secondary_interest" value="Tennis">Tennis</option>
        <option name="secondary_interest" value="Golf">Golf</option>
        <option name="secondary_interest" value="Svømning">Svømning</option>
        <option name="secondary_interest" value="Danse">Danse</option>
        <option name="secondary_interest" value="Synge">Synge</option>
        <option name="secondary_interest" value="Gaming">Gaming</option>
      </select>
    <br>
    <label id="tertiary_interest" for"tertiary_interest">Tertiær interesse</label><br>
      <select id="option3" name="tertiary_interest" size="1">
        <option name="tertiary_interest" value="Fodbold">Fodbold</option>
        <option name="tertiary_interest" value="Tennis">Tennis</option>
        <option name="tertiary_interest" value="Golf">Golf</option>
        <option name="tertiary_interest" value="Svømning">Svømning</option>
        <option name="tertiary_interest" value="Danse">Danse</option>
        <option name="tertiary_interest" value="Synge">Synge</option>
        <option name="tertiary_interest" value="Gaming">Gaming</option>
      </select>
    <br>
    <label id="freetime_monday_text" for"freetime_monday">Fritid mandag:</label><br>
    <input type="text" id="freetime_monday" name="freetime_monday" placeholder="">
    <br>
    <label id="freetime_tuesday" for"freetime_tuesday">Fritid tirsdag:</label><br>
    <input type="text" id="freetime_tuesday" name="freetime_tuesday" placeholder="">
    <br>
    <label id="freetime_wednesday" for"freetime_wednesday">Fritid onsdag:</label><br>
    <input type="text" id="freetime_wednesday" name="freetime_wednesday" placeholder="">
    <br>
    <label id="freetime_thursday" for"freetime_thursday">Fritid torsdag:</label><br>
    <input type="text" id="freetime_thursday" name="freetime_thursday" placeholder="">
    <br>
    <label id="freetime_friday" for"freetime_friday">Fritid fredag:</label><br>
    <input type="text" id="freetime_friday" name="freetime_friday" placeholder="">
    <br>
    <label id="freetime_saturday" for"freetime_saturday">Fritid lørdag:</label><br>
    <input type="text" id="freetime_saturday" name="freetime_saturday" placeholder="">
    <br>
    <label id="freetime_sunday" for"freetime_sunday">Fritid søndag:</label><br>
    <input type="text" id="freetime_sunday" name="freetime_sunday" placeholder="">
    <br>
    <input id="submit_button" type="submit" value="Gem">
</form>
</body>
</html>